.show-container {
	max-width: 95vw;
}

@media (min-width: 1200px) {
	.show-container {
		width: 100vw !important;
	}
}

.profile-line {
	background-color: white;
	box-shadow: 30px 30px 100px 0 rgba(46, 61, 73, 0.2);
	padding: 2em;
}

.user-card {
	position: relative;
	display: flex;
	text-align: center;
	top: 0px;
	border-bottom: 0.5px solid #25292E;
	background-color: white;
}

.user-card-left {
  width: 40%;
  padding-top: 60px;
  padding-left: 20px;


}

.user-card-right {
	width: 100%;
	margin-bottom: 20px;
	h1 {
		word-wrap: break-word;
		font-size: 24px;
		line-height: 30px;
		font-weight: bold;
		color: #000;
		text-align: left;
		margin-left: -31px;
		margin-top: 12px;
		margin-bottom: 23px;
	}
	p {
		font-size: 14px;
		line-height: 20px;
		margin-left: 15px;
		color: #000;
		margin-top: -8px;
	}

}

.fa-phone{
	font-size: 14px;
	margin-top: 2px;
	margin-right: 15px;
}


.fa-map-marker{
	font-size: 14px;
	margin-top: 2px;
	margin-right: 15px;

}

.fa-dollar-sign{
	font-size: 14px;
	margin-top: 2px;
	margin-right: 15px;

}

.fa-star{
	font-size: 14px;
	color: #f1c550;
	margin-top: 2px;

}

.teacher-about-me {
	border-bottom: 0.5px solid #25292E;
	h4 {
		text-align: left;
		margin-left: 10px;
		margin-right: -7px;
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 20px;
		color: #26292E;
		font-weight: bold;

	}
	p {
		font-size: 16px;
		line-height: 25px;
		margin-left: 16px;
		margin-right: 16px;
		margin-top: 1em;
		margin-bottom: 3em;
		text-align: justify;
		font-family: helvetica;
		color: #666;

	}
}

.teacher-skills {
	border-bottom: 0.5px solid #25292E;
	h4 {
		text-align: left !important;
    margin-left: 10px;
    margin-right: -7px;
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 20px;
		color: #26292E;

	}

	p {
    font-size: 16px;
    line-height: 25px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: justify;
    font-family: helvetica;
    color: #666;

	}
}


.feedback {
	h4 {
		text-align: left !important;
    margin-left: 10px;
    margin-right: -7px;
		font-size: 20px;
		margin-top: 30px;
		color: #26292E;
		margin-bottom: 0 !important;

	}

	p {
		font-size: 16px;
		line-height: 25	px;
		margin-left: 35px;
		margin-right: 35px;
		margin-top: 4px;
		margin-bottom: 6px !important;
		text-align: left;
		font-family: helvetica;
		color: #666;
		text-align: center;


	}

}

.review {
	display: flex;
	margin-top: 30px;
}

.review-name {
	width: 50%;
	margin-top: -20px;
  margin-left: 5px;
  padding-left: 15px !important;
}

.review-description {
	width: 50%;
	margin-left: -30px;

	h5 {
		font-size: 14px;
		line-height: 25px;
		margin-top: -10px;
		margin-left: -15px !important;
		margin-right: -25px !important;
		margin-bottom: 20px !important;
		text-align: left;
		font-family: helvetica;
		color: #666;
		text-align: left;
		font-weight: bold;
		color: #2F80ED;

	}

	p {
		font-size: 14px;
		line-height: 28px;
		margin-top: -5px;
		margin-left: -63px !important;
		margin-right: -1px !important;
		margin-bottom: 20px !important;
		text-align: justify !important;
		font-family: helvetica;
		color: #666;

	}
	.fa-star {
		text-align: left;
		margin-right: 0px !important;
	}
}

.talk-teacher {
	margin-left: 14px;
	margin-top: 20px;
}



.talk-teacher-2 {
	margin-left: 14px;
	margin-top: 20px;
}

#description-card
{		width: 100%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
	min-height: calc(100vh - 150px);
}


// .course-description {
// 	width: 100%;
// 	.video-container {
// 		cursor: pointer;
// 		#video-frame {
// 			pointer-events: none;
// 		}
// 	}
// }

.course-details {
	h4 {
		border-bottom: 1px solid #25292E;
		margin-bottom: 12px;
		padding-bottom: 15px;
		margin-left: 30px;

	}
	p {
		font-size: 16px !important;
		text-align: justify;
		margin-left: 30px;

	}
}



.course {
	box-shadow: 30px 30px 100px 0 rgba(46, 61, 73, 0.2);
	margin-left: 2px;
	background-color: white;
	letter-spacing: 0.3px;
	padding-bottom: 20px;
	&-top {
		background-position: center;
		background-size: cover;
		padding: 4em;
		margin-bottom: -15px !important;

		background-color: white;
		h1, p {
			margin: 0;
			color: #26292E;
//			text-shadow: 1px 1px 1px black;
text-align: center;
}
p {
  margin-top: 5px !important;
  font-family: helvetica !important;
}
h1 {
	text-transform: uppercase;
	border-bottom: 3px solid #25292E;
	font-size: 26px;
	font-weight: bolder;
	margin-bottom: 0.1em;
  margin-left: -21px;
  margin-right: -49px;
}
h6 {
	font-size: 14px;
	text-align: center;
	margin-top: 5px !important;
	text-decoration: none;
	a{
		color: #2F80ED
	}
}
}
&-video {
	iframe {
		width: 90%;
		//cursor: pointer;
		//pointer-events: none;
		height: 100%;
		margin-left: 45px;
    margin-top: -10px;
	}
	height: 340px;
}
&-details {
	padding: 3em;
	position: relative;
	h4 {
		color: #26292E;
	}
	p {
		margin-bottom: 3em;
		font-size: 14px;
		line-height: 2;
	}
}
}

.image_tag_2 {
	width: 50px;
	margin-bottom: 12px;
	margin-left: -5px;
}

.book-menu {
	background-color: #fff;
	border-radius: 0.375rem;
	box-shadow: 30px 30px 100px 0 rgba(46, 61, 73, 0.2);
	padding: 2em;
	h4 {
		text-align: center !important;
		font-size: 24px;
		margin-top: 30px;
		text-align: center;
		color: #2F80ED;
		border-bottom: 2px solid #2F80ED;
		font-weight: bold;
    margin-bottom: 25px;

	}


}
.book-class {
	p {
		margin-left: 0px;
		color: black;
		text-align: center;
		font-size: 14px;
		margin-bottom: 0px;
		text-align: left;
	}

}


.dates{
	display: flex;
	border-radius: 2px;
	width: 100%;
	box-sizing: border-box;
	b {
		font-family: helvetica;
		font-size:14px;
	}
}

.check_in{
	font-size: 17px;
	line-height: 24px;
	display: flex;
	vertical-align: middle;
	margin-right: -18px;
  margin-left: -8px;
	input {
		width:100%;
	}
}

.check_out{
	margin-top: 0px;
	margin-left: -10px;
	font-size: 17px;
	line-height: 24px;
	display: flex;
	vertical-align: middle;
	input {
		width:100%;
	}
}
#booking-totals {
	background-color: white;
	min-height: 90px;
	margin-left: 13px;
}
#booking-totals p:first-child {
	color: black;
	font-size: 20px;
	line-height: 25px;
	text-align: center !important;
	margin-top: 1em;
	padding-top: 30px;
	text-align: left;
	font-family: helvetica;
	text-align: left !important;

}
#booking-totals p:last-child {
	color: black;
	font-size: 20px;
	line-height: 25px;
	text-align: center !important;
	margin-top: 1em;
	margin-bottom: 2em;
	padding-bottom: 30px;
	text-align: left;
	font-family: helvetica;
	text-align: left !important;
}

.resources {
	margin-left: 15px;
	margin-top: 15px;
}

.box-shadow {
	box-shadow: (1px 1px 1px rgba(0,0,0,0.8));
}

#course-price {
margin-left: 50px;
font-size: 20px;
}

