.profile-line {
	border-top: 1px solid #2F80ED;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
}

.user-card {
	padding-left: 5px;
	position: relative;
	display: flex;
	text-align: center;
	top: 0px;
	border-bottom: 1px solid rgba(0,0,0,.15);
	background-color: white;
	padding-top: 5px;
	border-top: 2px solid #2F80ED;
}

.user-card-left {
	width: 33%;

}

.user-card-right {
	width: 66%;
	h1 {
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		color: #000;
		text-align: left; 
		margin-left: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	p {
		font-size: 12px;
		line-height: 16px;
		margin-left: 30px;
		color: #000;
		margin-top: -8px;
	}

}

.fa-phone{
	font-size: 14px;
	margin-top: 2px;
	margin-right: 4px;
}


.fa-map-marker{
	font-size: 14px;
	margin-top: 2px;
	margin-right: 4px;

}

.fa-dollar-sign{
	font-size: 14px;
	margin-top: 2px;
	margin-right: 4px;

}

.fa-star{
	font-size: 14px;
	color: #f1c550;	
	margin-top: 2px;
	margin-right: 4px;

}

.teacher-about-me {
	border-bottom: 1px solid rgba(0,0,0,.15);
	h1 {
		font-size: 16px;
		font-weight: bold;
		color: #000;
		text-align: left; 
		margin-left: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;

	}
	p {	
		font-size: 14px;
		margin-left: 35px;
		margin-right: 35px; 
		margin-bottom: 20px;
		text-align: justify;
		font-family: helvetica;

	}
}

.teacher-skills {
	align-items: center;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(0,0,0,.15);

	h1 {
		font-size: 16px;
		font-weight: bold;
		color: #000;
		text-align: left; 
		margin-left: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;

	}
	p {	
		font-size: 14px;
		margin-left: 35px;
		margin-right: 35px; 
		margin-bottom: 20px;
		text-align: justify;
		font-family: helvetica;
	}
}

.feedback {
	padding-left: 15px;
	h1 {
		margin-right: 10px;		
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: bold;
		color: #000;
		text-align: left; 
		margin-top: 20px;
		text-align: center;

	}
}

.review {
	display: flex; 
}

.review-name {
	width: 50%; 
	margin-top: 10px;  
	h1 {
		font-size: 14px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: black; 
		text-align: left; 
		margin-left: 10px;
		margin-top: 10px;
	}
	p {
		font-size: 10px;
		text-align: left; 
		margin-left: 10px;
		margin-top: -20px;
		text-align: justify;
		font-family: helvetica;
	}
}

.review-description {
	width: 50%; 
	margin-left: -30px; 
	p {
		margin-left: -5px;
		font-size: 14px;
		text-align: left; 
		margin-top: 5px;
		text-align: justify;
	}
	.fa-star {
		text-align: left; 
		margin-left: 10px;
	}
}


#description-card 
{		width: 100%;
	border-top: 1px solid #2F80ED;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
	min-height: calc(100vh - 150px);
}


.course-description {
	width: 100%;
	.video-container {
		cursor: pointer;
		#video-frame {
			pointer-events: none;
		}
	}	
}


.course-information {
	position: relative;
	display: flex;
	text-align: center;
	top: 0px;
	h3 {
		color: #000;
		font-size: 16px;
		font-weight: bold;
		text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
		text-align: left; 
		margin-left: 10px;
		margin-top: 20px; 

	}
	p {
		color: #000;
		font-size: 14px;
		text-align: left; 
		margin-left: 10px;
		margin-top: 12px;
		text-align: justify;	
	}

}



.course {
	width: 80%;
	margin-left: 2px; 
	h1 {
		font-size: 40px;
		margin-bottom: 20px;
		font-weight: bold;
		color: black; 
		text-align: left; 
		margin-left: 10px;
		margin-top: 4px;

	}
	h4 {
		font-size: 14px;
		text-align: left; 
		margin-left: 10px;
		margin-top: -13px;
		text-align: justify;	
	}

}

.book-menu {
	border-top: 1px solid #2F80ED;
	background-color: #fff;
	border-radius: 0.375rem;
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	padding: 4px; 


}
.book-class {
	width: 40%; 
	margin-left: 20px; 
	margin-right: -120px !important; 

	p {
		margin-left: 0px;	
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 18px; 	
	} 

}


.dates{
	display: flex; 
	border-radius: 2px; 
	width: 100%;
	box-sizing: border-box;
	b {
		font-family: helvetica;
		font-size:14px;
	}
}

.check_in{
	font-size: 17px; 
	line-height: 24px; 
	display: flex;
	vertical-align: middle;
	margin-right: -10px;
	input {
		width:100%;
	}
}	

.check_out{
	margin-left: -10px;
	font-size: 17px; 
	line-height: 24px; 
	display: flex;
	vertical-align: middle;
	input {
		width:100%;
	}
}
