



<body style="background-color: black;">
  <div class="container" style="height: 700px; margin-left: 80px; color: white;">


<% @bookings.each do |booking| %>
  <% if booking.user_id == current_user.id %>
      <% course = booking.course %>
      <br>
      <h2>You have booked <%= course.title %> for <%= booking.hours %> hours
      <br>
      Total Cost: $ <%= booking.hours * course.price %>
      <br>
      <%= link_to "Cancel this booking",  course_booking_path(:course_id, booking), class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

  </div>
</body>
