	<div class="col-xs-12 col-sm-6" style="display: flex">
		<div class="course">
			<div class="row">
					<div class="course-top" >
						<h1><%= @user.first_name%> <%= @user.last_name%></h1> 
			
					</div> 
				</div>
			</div>
		