<div class="banner" style="background: linear-gradient(-225deg, rgba(00,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), url('https://lh3.googleusercontent.com/8tcJPoWGWfdOe3GWNhw8DP0uyQGRhGJwbNQCWGMdghZd3v9RpU2bOupC43dowUUdEsemi2fmqKOwv9dtR6EJjTey7HU7h-TrY-SPArvoBUg9f9oAtjkzbh9tiQB2m9zQ-luxDkS8A3wMtARnNJQUz805HMJ4L3glHR2XeOdMTCyKq6qMuwSQKKwtKhMhRDIfvxN5m8QUkvmXACoFJgAFJSFipEnm14I9alkfu4JjcotADGfn4k5dp6Wea7WgtAydIPu_Uh7Qrx7-voibfEHkq5krQyZYDQmTGL-p1PhNIIvCtSAbeXXZHMEZUoRrG7qgJ8dxK-8g2joIPlleKBcPp1_eKkmQakNbRJy6E5hJOrCI0ucG78137UYzWJlfOopiQMHrHiH17zVZdTo8tvCNnbety08pc0Bgb74EHZvi2fQxJnJIjwNREfXlLtq8OJgM4CYJLcsLOJNDweQzPCpOjff4y9uX3wm5hOeGnxALLq0_NM-wQfk2zqmEFlGRRC_gL-GcJ8_uzzqDFfkDEdRNfvLd00mBMVPkT1cwJ_v5ZtQuJuWw0lb5IOgNANebg6AjLpCRXwAe26aklSfcVTfBk38_CcV-lj9-a61ZQFA=w2644-h1762-no') ; ">
  <div class="banner-content">
	    <h1>GET CODING PURELY.</h1>
    <form class="home-form" action="/courses" method="get">

      <%= image_tag "searchwhite.png", class: "search-icon" %>
	<input class="searchbox" type="text" name="search" id="search-text" placeholder="JavaScript">


  <!-- <i class= "fas fa-search"></i> -->
      <button class="searchbutton", type="button", value="search"></button>
    </form>
    <br> <br>

    <br>
  </div>
</div>

