<div class="banner" style="background: linear-gradient(-225deg, rgba(00,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), 
    url('https://lh3.googleusercontent.com/unqE6sK2WUscyBwOVwc1CIo6Mq-O_3Td8lf9sVZEU0qnEonf3nTii5h8WevZuqm134_YYqJ1TmEcwr2n4DtNqX6-XbbdlbuuU_HJP4fJn8BmjLCVKmK5h_XMAX8WJbmOY17z2T3uCKxMCJedjjyUHo_S8lnBgBmg4-09OnTz570ph-G_HMJw0PhZMw_xOVj_cogLyIUdqejrt1L7PCSXvaQE7aUplq-GK6VA4id1EfAOxa76-vzEhuo9Y6N7zku3lONx2et-wtesHDAv0AhTNeoXabDffiI-VyXyQaLCWQ9FPZt2rhpL5r2HL71pkQJLwPX4dMoy89I-QDAX9T0Yp6hkfDhTUeGXtAG_ZN2BXBtBkN1ykZDbCUzyT5Ja-ikiuHLMQjbGutwC7KdTOxep0RuXswt5qo9UylMjOclWU2OUBXhnOCdSuilMEua3Nx55dXgTSKIJH4spfU0pQZfZkgrvHOheg9JIFi8e4Ylf4630DgRin_5h4PxWAEbGCfdTQ5LbABREzk0AX3NsJGi0fGmQaPz4HOg-2BOu3l6RfzKDe9eDOjBcyP4jAzE9JyTsJAJrUaaSnCBuCHMcfvFPxjGuxKik5xyF8eysm5MOONQfAqkhZ-PvTxEh89URdCS6RcJN9d9CmHDgf-ZFsk8bIoKnL9xnaivs=w1205-h803-no'); "
  >
  <div class="banner-content">
	    <h1>< Find your private tutor ></h1>
    <form class="home-form" action="/courses" method="get">

      <%= image_tag "searchwhite.png", class: "search-icon" %>
	<input class="searchbox" type="text" name="search" id="search-text" placeholder="JavaScript" autocomplete="off">


  <!-- <i class= "fas fa-search"></i> -->
      <button class="searchbutton", type="button", value="search"></button>
    </form>
    <br> <br>

    <br>
  </div>
</div>

