<div class="banner" style="background-image: linear-gradient(-225deg, rgba(00,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), url('https://lh3.googleusercontent.com/2L6hWxyDs_i4rFpEkoWW7JcaC5hyOaIaZI3vekSHph4rH1zFfVuUVTgwgBr6pr7oTzasgDTNJ7_fAldzV5eUAcy9hpCmuhv6aTePAhik1QqgEXTcs1VVtVmyeBuW4EgreVjZg2efKflFXPgAfXViFUa-EEMEiUKxPIo-AxBl8uiSGKz_9obAjwzLD0cjgm4SII6f9haaH-Wbu8uL1fOukqdIVcwa9hoJ0oCOaLh2kyhPuOY93rvZuvcl4vAhY-NTXPoEydoiq0adiC9SWGXYCpEDiCtEJpQS7MTw9_J60TWnkvQMSkcBlhAGJqfzpZ5oASJ7V5iWIKwufIHUDhG-A3lsS90ia5jjCILBBjdvgAwYKS8cC0_puDpf24w8rS4sO4D0KrbloCW-MRbMz88-LlU40JLegvMYTPHjpieX506MedwyX7Dthol-vOvwjTO3l9RUbk1WSCwvQwWvRKJnXP_XnrlqMONq8QqZj-t8H6K21TvKSznbZge4r1vqdHo7aTXoL3troqXRuJjgkFzSL2kSHp1jIEz9ADQslp4PkXW9Z8E7ic-_-81BfPjxx-iyZBDOBOhoC4bI9G4wr99cBmzZo3vVgWmy6yl8bbxFYIW-LZ1e2KlOukZnPqcrtNufpEhVDHFP8rk2b_17l-i8-EoGtD0LG-kK=w2644-h1762-no'); height:710px; ">
  <div class="banner-content">
	    <h1>GET CODING.</h1>
    <form class="home-form" action="/courses" method="get">
    	<input class="searchbox" type="text" name="search" placeholder="Javascript">
      <i class="fas fa-search"></i>
      <button class="searchbutton", type="button", value="search"></button>
    </form>
    <br> <br>

    <br>
  </div>
</div>

