<% if current_user == chat.sender %>
  <% other_user = chat.recipient %>
<% else %>
  <% other_user = chat.sender %>
<% end %>


<%= link_to chat do %>
  <div class="row chat">
    <% if chat.messages.any? %>
      <div class="col-md-4 firstname">
        <%= other_user.first_name %>
        <%= chat.messages.last.message_time %>
      </div>
      <div class="col-md-8">
        <%= chat.messages.last.body %>
      </div>
    <% end %>
  </div>
<% end %>
