<%= render 'shared/banner' %>
<div class="container" style="margin-top: 10px">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <center>
          <p class="title">
            Learn to code <span id="banner-typed-text"></span>
          </p>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
    document.app.loadDynamicBannerText();
    document.app.bindSweetAlertButtonDemo();
    document.app.showToolTip();
  <% end %>
<% end %>
