.banner {
  color: white;
  text-align: center;
  height: 70vh !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.banner-teacher {
  color: white;
  text-align: center;
  height: 81vh !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.banner-teacher h1{
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h1 {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.middlesection {
  height: 200px;
}

.container h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
 margin-left: 8px;
  margin-top: 25px;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.container p {
  font-size: 18px;
  text-align: left;
  margin-left: 8px;
  color: white;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.container-card {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  background:#585959;
  color: #fff;
  overflow: hidden;
  // margin-bottom: 30px;
  top: 0;
  left: 0;
  width: auto;
  // height: 200px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
  margin-bottom: 50px;
  margin-top: 20px;
  // box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}


.searchbox {
  width: 500px;
  margin: 60px auto;
  position: relative;
  background-color: transparent;
  width: 350px;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #2F80ED;
  border-radius: 5%;
  color: white;
  transition: 300ms;
  box-shadow: none;
  font-size: 36px;
  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid yellow;
  }
  &::placeholder {
    color: white ;
  }
}


.searchbutton {
 display:none;
 color: white;
}

.icon-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon-teacher-page {
  height:50px;
  margin-right: 10px;
}
.section-title {
  color: white;
  font-size: 22px;
}
.section-paragraph {
  color: #EEE;
}

.search-icon {
  height: 28px;
  position: relative;
  left: 35px;
  top: -8px;
}

