
.button_2 {
    background-color: #2F80ED; /* Green */
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: center;
    justify-content: center;
    margin-left: 46px; 
}

.btn-big {
	background-color: #2F80ED;
	padding: 10px 15px;
	height: 60px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}

.btn-filter {
  height: 35px;
  width: 100px;
  // margin: 15px auto;
  // padding: 10px;
  background-color: #FFF;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
  border-radius: 8px;



  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    // border: 1px solid gray;
    background-color: #D8D8D8;


    &:before {
      box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    }
  }
}



