
.button_2 {
    background-color: #2F80ED; /* Green */
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: center;
    justify-content: center;
    margin-left: 46px; 
}