#calendar {
  margin: 20px auto;
  height: 150px;
  width: 100%;
  border: 1px solid grey;
}


a:hover, a:active, a:visited {
  text-decoration: none;
}
ul {
  text-align: center;
  padding: 20px 0;
}
li {
  cursor: pointer;
  border-radius: 45%;
  padding: 10px 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline;
}
.active-day {
  background: blue;
  a {
    color: white;
  }
}
.availability {
  display: none;
}
.active-availability {
  display: block;
}