.message-sender, .message-sender .message--text {
  text-align: right !important;
}
.container {
  width:900px;
  padding: 10px;
}
.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &--messages {
    width: 100%;
    flex: 1 0 0;
  }

  &--form {
    width: 100%;
    background: white;
    flex: 0 0 50px;
  }
  .container {
    color: transparent solid;
    background-color: transparent solid;
  }
}

.message-form {
  display: flex;
  width: 100%;
  height: 100%;

  &--input {
    flex: 1 1 auto;
    // padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    outline: none;
    transition: border-color 150ms;
    box-sizing: border-box;
    resize: none;

    &:hover,
    &:focus {
      border: 1px solid #3f94f9;
    }
  }

  &--submit {
    flex: 0 1 auto;
    height: 100%;
    padding: 12px 48px;
    background: #3f94f9;
    border: 1px solid #3f94f9;
    color: white;
    font-size: 18px;
    outline: none;
    transition: opacity 150ms;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.messages {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // border-bottom: 0;
  box-sizing: border-box;


  &--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.message {
    margin: 12px 6px;
    border: 1px solid #2F80ED;
    border-radius: 0px;
    border-opacity: 0.4;
    background: transparent;
    padding: 15px;
    opacity: 0.95;


  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid #2F80ED;
  }

  &--author {
    font-weight: bold;
    font-size: 27px;
  }

  &--time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }

  &--text p {
    margin: 0;
  }
}
